---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/contrast";
@import "minimal-mistakes";

/* Global type tweaks */
.page__content p { font-size: 0.75rem; line-height: 1.55; }
.page__content li { line-height: 1.5; }
.page__content h2 { font-size: 1.3rem; line-height: 1.3; }
.page__content h3 { font-size: 1.1rem; line-height: 1.3; }

// /* Make background white everywhere */
// body,
// .site,
// .page,
// .masthead,
// .sidebar,
// .page__footer,
// .site-footer {
//   background: #fff !important;
// }

// /* Optional: remove any borders/shadows that look odd on white */
// .masthead, .page, .sidebar { box-shadow: none; border: 0; }